@model int
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h1>Detail</h1>
<input type="hidden" id="@Model" />
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img id="positionImg" class="card-img-top mb-5 mb-md-0" src="/Img/15.43.54-08.14.2022-9d31de29-290a-4f21-8938-9e08a788d599.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1"></div>
                <h1 id="name" class="display-5 fw-bolder"></h1>
                <div class="fs-5 mb-5">
                    <span id="price" class="text-decoration-none"></span>
                </div>
                <p id="description" class="lead"></p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Ürünü Sepete Ekle
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://localhost:7233/api/products/getproductdetail?id=@Model",
            type: "GET",
            crossDomain: true,
            dataType: "json",
            success: function (response) {
                var resp = JSON.parse(response)
                console.log(resp.Data);//bu şekilde yazınca çekiyor.
                $.each(resp.Data, function (index, value) {
                    $("#price").html("₺" + value.Price);
                    $("#description").html(value.Description);
                    $("#positionImg").attr("src", "/Img/" + value.Picture.replace(" ", ""));
                    $("#name").html(value.ProductName);
                });
            },
            error: function (xhr, status) {
                alert("error");
            }
        });
    })
</script>
