@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Section-->
<section class="py-5">
    <div class="row">
    </div>
</section>
<script>
    
    $(document).ready(function(){
    $.ajax({
            url: "https://localhost:7233/api/ProductImages/getall",
            type: "GET",
            crossDomain: true,
            dataType: "json",
            success: function (response) {
                var divId=0;
                var resp = JSON.parse(response)
                console.log(resp.Data);
                $.each(resp.Data, function (key, value){
                    divId = divId + 1;
                    const newDiv=document.createElement("div");
                    newDiv.classList.add("col-sm-4");
                    newDiv.classList.add("cardCloumn");
                    newDiv.setAttribute("id",divId.toString());
                    $(".row").append(newDiv);
                newDiv.innerHTML=
                        "<div class=\"card h-100\" id=\"at\"  > " +
                        "<div class=\"card-body\" onmouseover=\"büyült(" + divId.toString() + "," + value.Id.toString() + ")\" onmouseout=\"küçült("+ divId.toString() + ", " + value.Id.toString() +")\"\>" +
                        "<img class=\"w-30\" id=\"" + value.Id.toString() + "\" src=\"" + "/Img/"+value.Picture.replace(" ","") + "\"  />" +
                        "<p class=\"card-text\">" + value.Description + "</p>" +
                        "<a href=\"Home/Detail/"+value.Id+" \" class=\"btn btn-primary\">Detay</a>"+
                        "</div>"+
                        "</div>" 

                })

            },
            error: function (xhr, status) {
                alert("error");
            }
        });
    })


    var widhtvalue = 4;
    var widhtvalueforimg = 30;

    var degistir = 1;
    var degistirforimg = 2;

    var imgId;
    var divId;

    var temizle = 0;
    function küçült(imgId, divId) {
        clearInterval(temizle);
        temizle = setInterval(azalt(imgId, divId), 1);

    }
    function büyült(imgId,divId) {
        clearInterval(temizle);
        temizle = setInterval(arttır(imgId,divId), 1);
    }


    function arttır(imgId, divId) {
        if (widhtvalue < 6 || widhtvalueforimg < 60) {
            if (widhtvalue < 6) {
                widhtvalue = widhtvalue + degistir;
                $("#" + divId + "").attr('class', 'col-sm-' + widhtvalue.toString());
            }
            widhtvalueforimg = widhtvalueforimg + degistirforimg;
            $("#"+imgId+"").attr('width', widhtvalueforimg);

        }
        else {
            clearInterval(temizle);
        }
    }
    function azalt(imgId, divId) {
        if (widhtvalue > 4 || widhtvalueforimg > 30) {
            if (widhtvalue > 4) {
                widhtvalue = widhtvalue - degistir;
                $("#" + divId + "").attr('class', 'col-sm-' + widhtvalue.toString());
            }
            widhtvalueforimg = widhtvalueforimg - degistirforimg;
            $("#" + imgId + "").attr('width', widhtvalueforimg);

        }
        else {
            clearInterval(temizle);
        }
    }
</script>