@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_CustomerLayout.cshtml";

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Section-->
<section class="py-5">
    
    <div class="row">
        <div class="col-sm-4 cardCloumn" id="0" >
            <div class="card" id="at">
                
            </div>
        </div>
    </div>
</section>
<script>
    
    $(document).ready(function(){
    $.ajax({
            url: "https://localhost:7233/api/ProductImages/getall",
            type: "GET",
            crossDomain: true,
            dataType: "json",
            success: function (response) {
                var divId=0;
                var resp = JSON.parse(response)
                console.log(resp.Data);//bu şekilde yazınca çekiyor.
                $.each(resp.Data, function (key, value){
                    divId = divId + 1;
                    divId = $(".cardCloumn").attr("id");
                document.getElementById("at").innerHTML="<div class=\"card-body\" onmouseover=\"büyült()\" onmouseout=\"küçült()\"\>"+
                        "<img id=\""+value.Id.toString()+"\" src=\""+value.ImagePath+"\" width=\"100\" />"+
                    "<p class=\"card-text\">With supporting text below as a natural lead-in to additional content.</p>"+
                    "<a href=\"#\" class=\"btn btn-primary\">Go somewhere</a>"+
                "</div>"
                })
            },
            error: function (xhr, status) {
                alert("error");
            }
        });
    })


    var widhtvalue = 4;
    var widhtvalueforimg = 100;

    var degistir = 1;
    var degistirforimg = 2;

    var imgId;
    var divId;

    var temizle = 0;
    function küçült() {
        clearInterval(temizle);
        temizle = setInterval(azalt, 1);

    }
    function büyült() {
        clearInterval(temizle);
        temizle = setInterval(arttır, 1);
    }


    function arttır() {
        divId = $(".cardCloumn").attr("id");
        imgId = $(".card-body").children("img").attr("id");
        if (widhtvalue < 6 || widhtvalueforimg < 200) {
            if (widhtvalue < 6) {
                widhtvalue = widhtvalue + degistir;
                $("#" + divId + "").attr('class', 'col-sm-' + widhtvalue.toString());
            }
            widhtvalueforimg = widhtvalueforimg + degistirforimg;
            $("#"+imgId+"").attr('width', widhtvalueforimg);

        }
        else {
            clearInterval(temizle);
        }
    }
    function azalt() {
        imgId = $(".card-body").children("img").attr("id");
        divId = $(".cardCloumn").attr("id");
        if (widhtvalue > 4 || widhtvalueforimg > 100) {
            if (widhtvalue > 4) {
                widhtvalue = widhtvalue - degistir;
                $("#" + divId + "").attr('class', 'col-sm-' + widhtvalue.toString());
            }
            widhtvalueforimg = widhtvalueforimg - degistirforimg;
            $("#" + imgId + "").attr('width', widhtvalueforimg);

        }
        else {
            clearInterval(temizle);
        }
    }
</script>