<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/ProductPartialViewComponents/_HeadComponentView.cshtml" />
</head>
<body>
    <!-- Navigation-->
    <partial name="~/Views/Shared/ProductPartialViewComponents/_NavigationComponentView.cshtml" />

    <!-- Product section-->
    @RenderBody()
    
    <!-- Related items section-->
    <!-- Footer-->
    <partial name="~/Views/Shared/ProductPartialViewComponents/_FooterComponentView.cshtml" />

    <!-- Bootstrap core JS-->
    <partial name="~/Views/Shared/ProductPartialViewComponents/_BoostrapComponentView.cshtml" />

    <!-- Core theme JS-->
    <partial name="~/Views/Shared/ProductPartialViewComponents/_JavascriptComponentView.cshtml" />

</body>
</html>
